
.skillName{
  /* background-color: red; */
  text-align: center;
  padding: 5px 5px;
  margin: 10px;
  font-weight: 700;
}
.skillDesc{
  /* background-color: red; */
  padding: 10px;
  
}
.link{
  color: aqua;
}

.sentence{
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 600;
  /* text-decoration: underline; */
}

.list{
  padding-left: 1rem;
}
.list {
  list-style: none;
}
.list >li > a {
  color: aqua;
}
.institution{
  padding-left: 1rem;
  font-size: 1rem;
}
