.aboutContainer{
    padding: 20px 10px 0px 50px;
}

.label{
    color: black;
    font-weight: 600;
    font-family: "Inter var", "Inter", sans-serif;
}
.content{
    padding-left: 40px;
    font-family: "Inter var", "Inter", sans-serif;
    font-size: 18px;
}
.orgname{
    color: #eb3b5a;
    font-weight: 700;
}

.message{
    cursor: pointer;
    color: black;
    font-size: 18px;
    /* font-weight: 600; */
    /* font-family: "Inter var", "Inter", sans-serif; */
}