@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Source+Code+Pro&display=swap');
.body{
    background-color: #121212;
    height: 100vh;
    width: 100vw;
    font-family: 'Source Code Pro', monospace;
    color: white;
    font-weight: 800;

}
.terminalPath{
    color: yellow;
}
.username{
    color: #66FF00;
}
.terminalName{
    color:  #9900FF;
}
.commandLineInput{
    color: transparent;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    width: 85%;
    padding-top: 8px;
    resize: none;
    overflow: hidden;
}
.scroll::-webkit-scrollbar {
    display: none;
  }
.inputWrapper{
    display: flex;
    flex-direction: row;
}