.container{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    flex-shrink: inherit;
    align-items: center;
    justify-content: center;
    animation: display 1s;
}
.imageThumbContainer{
    max-width:100%;
  border-radius: 5px;
  padding: 6px;
  font-size: 150%;
  background-position:center;
}
.imageThumb{
    width:290px;
    height:160px;
    object-fit:cover;
    border-radius: 0px;
    background-position:center;
    animation: display 1s;
}
.NavbarIcon{
    font-size: 50px;
    border: 0px ;
    outline: none;
}
.NavbarIcon :focus{

    outline: none;
}

.icon:focus{
    outline: none;
    border: 0px;
}
.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes display{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 50%;
    }
    100%{
        opacity: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .imageThumb{
        width:150px;
        height:75px;
        object-fit:cover;
        border-radius: 0px;
        background-position:center;
        animation: display 1s;
    }
}
