.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation: display 0.5s;
    cursor: pointer;
}

@keyframes display{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 50%;
    }
    100%{
        opacity: 100%;
    }
}
