@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: 0 !important;
}
body {
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 15px 0;
  line-height: 1.8;
  font-size: 22px;
}

a {
  text-decoration: none;
  /* color: #333; */
}

img {
  width: 100%;
  border-radius: 10px;
}

header {
  background: steelblue;
  color: #fff;
  padding: 5px;
  margin-bottom: 40px;
}

header a {
  color: #fff;
}

.container {
  max-width: 768px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
}

.btn {
  /* display: inline-block; */
  background: steelblue;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}


.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-back {
  background: #212529;
  color: #000;
  margin-bottom: 20px;
  display: none;
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.card {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-page {
  padding: 15px 30px;
}

.post-title {
  margin: 10px 0;
}

.post-date {
  /* background: #747d8c; */
  margin-bottom: 20px;
  padding: 3px 10px;
}

.post-body ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 0;
  
}

.post-body pre {
  background: #2d3436;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
  font-size: 16px;
  color: whitesmoke;
}

.excerpt{
  font-size: 18px;
}

@media (max-width: 500px) {

  .posts {
    grid-template-columns: 1fr;
  }

  .post-body pre {
    background: #2d3436;
    padding: 20px;
    margin: 20px 0;
    line-height: 2.3;
    font-size: 16px;
    color: whitesmoke;
  }
  

}

@media (max-width: 1000px) {

  .btn-back {
    background: #212529;
    color: #000;
    margin-bottom: 20px;
    display: inline-block;
  }
  .excerpt{
    font-size: 16px;
  }
  
.post-date {
  /* background: #f4f4f4; */
  margin-bottom: 20px;
  padding: 3px 10px;
}
}
